// screen sizes
$tablet-size: 600px;
$medium-screen-size: 1024px;
$large-screen-size: 1300px;
$smaller-screen-size: 400px;

// colours
$dark-grey: #3f4244;
$light-grey: #888888;
$shadow: #0f0f0f;
$blue: #5888b4;
$off-white: #ededed;
