.about {
    margin: 20vh 10vw 10vh;
    display: flex;
    flex-direction: column;
    h1 {
        text-align: center;
        margin-top: 0;
        margin-bottom: 3vh;
    }
    img {
        width: 320px;
        height: auto;
        box-sizing: border-box;
        border: #888888 solid 1px;
        align-self: center;
        filter: drop-shadow(0 0 0.85rem #0f0f0f);
        margin-bottom: 3vh;
    }
    p {
        margin-bottom: 0;
    }
}

@media only screen and (min-width: $tablet-size) {
    .about {
        font-size: 1.25rem;
        img {
            width: 80vw;

        }
    }
}

@media only screen and (min-width: $medium-screen-size) {
    .about {
        font-size: 1.5rem;
        display: inline-block;
        margin-left: 10vw;
        margin-right: 10vw;
        img {
            width: 600px;
            display: relative;
            float: left;
            margin: 0 30px 20px 0;
        }
    }
    .about-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}