.blog {
    margin-top: 20vh;
    margin-bottom: 10vh;
    h1 {
        text-align: center;
    }
}
.blog-card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}
.blog-card {
    width: 80vw;
    height: 500px;
    border: #888888 solid 1px;
    box-shadow: 5px 5px 5px #888888;
    border-radius: 6px;
}
.blog-card__image {
    width: 80vw;
    height: 200px;
    object-fit: cover;
    box-sizing: border-box;
    border-bottom: #888888 solid 1px;
    border-radius: 6px;
}
.blog-card__text {
    width: 80vw;
    height: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;
}
.blog-card__title h1 {
    text-transform: uppercase;
    display: inline;
    font-size: 1.25rem;
}
.blog-card__description {
    overflow: hidden;
    margin-bottom: 1.5rem;
}
.blog-card__link {
    padding: 0.5vh;
    border-radius: 6px;
    width: 130px;
    text-transform: uppercase;
    background-color: #5888b4;
    color: #ffffff;
    border: none;
    cursor: pointer;
    filter: drop-shadow(3px 3px 1.5px #0f0f0f);

}
.blog-card__link:hover {
    background-color: #ededed;
    color: #5888b4;
    font-weight: 600;
    box-sizing: border-box;
    z-index: 1
}
.blog-link:visited {
    text-decoration: none;
    color: #ffffff;
}
.blog-link:link {
    text-decoration: none;
    color: #ffffff;
}
.blog-link:link:hover {
    text-decoration: none;
    color: #5888b4;
}
.blog-link:visited:hover {
    text-decoration: none;
    color: #3f4244;
}
.blog-card__link:active {
    transform: translateY(1.5px);
}
.blog-entry {
    margin: 20vh 10vw 10vh;
    img {
        width: 100%;
        height: auto;
    }
    figure {
        margin: 1vh 0;
    }
}
.back-to-blog {
    padding: 0.5vh;
    border-radius: 6px;
    width: 80px;
    text-transform: uppercase;
    background-color: #5888b4;
    color: #ffffff;
    border: none;
    cursor: pointer;
    filter: drop-shadow(3px 3px 1.5px #0f0f0f);

}
.back-to-blog:hover {
    background-color: #ededed;
    color: #5888b4;
    font-weight: 600;
    box-sizing: border-box;
    z-index: 1;
}

.back-to-blog a:visited, .back-to-blog a:link {
    text-decoration: none;
    color: #ffffff;
}
.back-to-blog a:visited:hover {
    text-decoration: none;
    color: #3f4244;
}
.back-to-blog:active {
    transform: translateY(1.5px);
}

@media only screen and (min-width: $tablet-size) {
    .blog, .blog-entry {
        font-size: 1.25rem;
    }
    .blog-card {
        width: 80vw;
        height: 600px;
        box-shadow: 7.5px 7.5px 7.5px #888888;
    }
    .blog-card__image {
        width: 80vw;
        height: 300px;
    }
    .blog-card__text {
        width: 80vw;
        height: 300px;
    }
    .blog-card__title h1 {
        font-size: 1.75rem;
    }
    .blog-card__description {
        margin-bottom: 2.25rem;
    }
}

@media only screen and (min-width: $medium-screen-size) {
    .blog {
        font-size: 1.5rem;
        margin-left: 5vw;
        margin-right: 5vw;
        display: inline-flex;
        justify-content: center;
        flex-wrap: wrap;
        h1 {
            display: inline-block;
            width: 100%;
            margin: 0;
        }
    }

    .blog-card {
        width: 500px;
        height: 700px;
    }
    .blog-card__image {
        width: 500px;
        height: 300px;
    }
    .blog-card__text {
        width: 500px;
        height: 400px;
    }
    .blog-card__title h1 {
        font-size: 2rem;
    }
    .blog-card__description {
        margin-bottom: 2.5rem;
    }
    .blog-entry {
        font-size: 1.5rem;
        margin-left: 10vw;
        margin-right: 10vw;
        img {
            width: 1000px;
            height: auto;
            position: relative;
            float: left;
            margin-right: 30px;
            margin-bottom: 20px;
        }
    }
}