.contact-content {
    margin-top: 20vh;
}
.contact {
    margin: 0 10vw;
    h1 {
        text-align: center;
        margin: 0;
    }
}
.contact-p p {
    display: flex;
    box-sizing: border-box;
    text-align: center;
    background-color: $off-white;
    border-radius: 6px;
    border-top: 6px solid $blue;
    color: $dark-grey;
    padding: 15px;
}
.contact-form {
    margin-top: 75px;
    div {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: auto;
        margin-top: 20px;
    }
    input, textarea {
        border-radius: 6px;
        padding: 5px;
    }
}

// this is to make buttons consistent across pages
.submit-button {
    background-color: $blue;
    color: #ffffff;
    cursor: pointer;
    border-radius: 6px;
    box-sizing: border-box;
    border: none;
    padding: 0.5vh;
    display: inline-block;
    width: 130px;
    align-self: center;
    filter: drop-shadow(3px 3px 1.5px $shadow);
}
.submit-button:hover {
    background-color: $off-white;
    color: $blue;
    font-weight: 600;
    box-sizing: border-box;
}
.submit-button:active {
    transform: translateY(1.5px);
}

// breakpoint for tablet-size screens
@media only screen and (min-width: $tablet-size) {
    .contact-content {
        display: flex;
        font-size: 1.2rem;
    }
   .contact-container {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
    }
    .contact-p p {
        display: flex;
        width: 60vw;
        box-sizing: border-box;
        padding: 20px;
    }
    .submit-button {
        width: 150px;
    }
}

// breakpoint for medium-size screens
@media only screen and (min-width: $medium-screen-size) {
    .contact {
        margin: 0 5vw 10vh;
    }
    .contact-content {
        display: flex;
        font-size: 1.5rem;
    }
   .contact-container {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
    }
    .contact-p p {
        display: flex;
        text-align: center;
        width: 50vw;
        box-sizing: border-box;
        padding: 30px;
    }
    .submit-button {
        width: 170px;
    }
}

// breakpoint for large-size screens
@media only screen and (min-width: $large-screen-size) {
    .contact-p p {
        width: 35vw;
    }
}
