.contact-content {
    margin: 3vh 5vw;
}
.contact {
    margin-left: 5vw;
    margin-right: 5vw;
}
.contact h1 {
    display: flex;
    justify-content: center;
}
.contact-p p {
    display: flex;
    text-align: center;
    background-color: #ededed;
    border-radius: 6px;
    border-top: 6px solid #5888b4;
    color: #3f4244;
    padding: 2vh 12vw;
}

.contact-form {
    margin-top: 75px;
    div {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: auto;
        margin-top: 20px;
    }
    input, textarea {
        border-radius: 6px;
        padding: 1vw;
    }
}

.submit-button {
    background-color: #5888b4;
    color: #ffffff;
    cursor: pointer;
    border-radius: 6px;
    border: none;
    padding: 0.5vh;
    display: inline-block;
    width: 130px;
    align-self: center;
}
.submit-button:hover {
    background-color: #ededed;
    color: #3f4244;
    font-weight: 600;
}
.submit-button:active {
    transform: translateY(1.5px);
}




@media only screen and (min-width: $tablet-size) {
    .contact-content {
        display: flex;
        align-items: center;
        width: 70vw;
    }
}

@media only screen and (min-width: $desktop-size) {

}