.nav-header {
    background-color: #3f4244;
    height: 10vh;
    padding: 2.5vh 3vw 2.5vh 3vw;
    font-family: 'Rajdhani', sans-serif;
}
.nav-header__logo {
    height: 70px;
    width: 70px;
    padding: 5px;
}
.nav-header__socials {
    position: relative;
    display: inline-block;
    float: right;
}


// hamburger menu
.menu-toggle {
    display: inline-block;
    position: relative;
    z-index: 1;
    user-select: none;
    a {
        text-decoration: none;
        color: #3f4244;
    }
    a:hover {
        font-weight: 600;
    }
}

// this makes the checkbox bigger to cover the hamburger slices, hides the checkbox, but keeps it on the top layer. play with width and height to get the right proportion.
.menu-toggle .toggle {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

// this assembles the hamburger slices. play with width and height to get the right proportion.
.menu-toggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
}

// this transforms all the three slices of the hamburger into a crossmark when hidden checkbox is ticked.
// 1- this rotates all slices at 45deg and nudge them left and up a bit.
.menu-toggle .toggle:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background-color: #3f4244;
}

// 2- this hides the middle slice with subtle effect.
.menu-toggle .toggle:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0) scale(0.2, 0.2);
}

// 3- this rotates the last slice to the other direction.
.menu-toggle .toggle:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

// 4- this fixes the origin points and adds some transition
.menu-toggle {
    span {
        transform-origin: 4px 0px;
        transition: transform 0.5s ease-in;
                    opacity: 0.5s ease;
    }
    span:first-child {
        transform-origin: 0% 0%;
    }
    span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }
}

// this positions menu box at top left but keeps it left of visible screen when hidden checkbox is unticked.
.menu {
    position: absolute;
    top: 15px;
    margin: -110px 0 0 -60px;
    padding: 50px;
    padding-top: 135px;
    background-color: #ededed;
    opacity: 0.90;
    list-style-type: none;
    transform-origin: 0% 0%;
    transform: translate(-130%, 0);
    transition: transform 0.5s ease-in;
    li {
        padding: 10px 0 10px 35px;
        font-size: 22px;
    }
}

// this slides the menu box from left to appear when hidden checkbox is ticked.
.menu-toggle .toggle:checked ~ ul {
    transform: none;
}

// responsove design for tablets
@media only screen and (min-width: 600px) {
    .menu {
        width: 130px;
        li {
            padding-left: 35px;
            font-size: 28px;
        }
    }
}

// responsive design for tablets
@media only screen and (min-width: 835px) {
    .menu {
        width: 180px;
        left: -30px;
        li {
            padding-left: 35px;
            font-size: 32px;
        }
    }
}
