.work {
    margin: 20vh 10vw 10vh;
    h1 {
        text-align: center;
    }
}
.work-wrapper {
    margin-top: 30px;
}
.work-card {
    width: 80vw;
    height: 300px;
    border: $light-grey solid 1px;
    box-shadow: 5px 5px 5px $light-grey;
    border-radius: 6px;
}

.work-card__image {
    width: 80vw;
    height: 150px;
    object-fit: cover;
    box-sizing: border-box;
    border-bottom: $light-grey solid 1px;
    border-radius: 6px;
    filter: grayscale(50%);
}
.work-card__image:hover {
    filter: grayscale(0%);
}
.work-card__text {
    width: 80vw;
    height: 150px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;
}
.work-card__title h1 {
    text-transform: uppercase;
    display: inline;
    font-size: 1.25rem;
}
.work-card__description {
    overflow: hidden;
    margin-bottom: 10px;
}

.work-entry {
    margin: 20vh 10vw 10vh;
}
.work-entry__image {
    width: 80vw;
    height: auto;
    margin-top: 5vh;
}

.back-to-work {
    padding: 0.5vh;
    border-radius: 6px;
    width: 80px;
    text-transform: uppercase;
    background-color: $blue;
    color: #ffffff;
    border: none;
    cursor: pointer;
    filter: drop-shadow(3px 3px 1.5px $shadow);

}
.back-to-work:hover {
    background-color: $off-white;
    color: $blue;
    font-weight: 600;
    box-sizing: border-box;
    z-index: 1;
}

.back-to-work a:link, .back-to-work a:visited {
    text-decoration: none;
    color: #ffffff;
}
.back-to-work a:visited:hover {
    text-decoration: none;
    color: $dark-grey;
}
.back-to-work:active {
    transform: translateY(1.5px);
}

@media only screen and (min-width: $tablet-size) {
    .work {
        font-size: 1.25rem;
        margin-left: 10vw;
        margin-right: 10vw;
        display: inline-flex;
        justify-content: center;
        flex-wrap: wrap;
        h1 {
            display: inline-block;
            width: 100%;
            margin-top: 0;
        }
    }
    .work-card {
        width: 400px;
        height: 400px;
        box-shadow: 7.5px 7.5px 7.5px $light-grey;
    }
    .work-card__image {
        width: 400px;
        height: 200px;
    }
    .work-card__text {
        width: 400px;
        height: 200px;
    }
    .work-card__title h1 {
        font-size: 1.75rem;
    }
    .work-card__description {
        margin-bottom: 2.25rem;
    }
    .work-entry {
        font-size: 1.25rem;
    }
}

@media only screen and (min-width: $medium-screen-size) {
    .work {
        font-size: 1.5rem;
        margin-left: 5vw;
        margin-right: 5vw;
        display: inline-flex;
        justify-content: center;
        flex-wrap: wrap;
        h1 {
            display: inline-block;
            width: 100%;
            margin: 0;
        }
    }
    .work-wrapper {
        margin: 30px 15px 15px;
    }
    .work-card {
        width: 500px;
        height: 500px;
    }
    .work-card__image {
        width: 500px;
        height: 250px;
    }
    .work-card__text {
        width: 500px;
        height: 250px;
    }
    .work-card__title h1 {
        font-size: 2rem;
    }
    .work-card__description {
        margin-bottom: 2.5rem;
    }
    .work-entry {
        font-size: 1.5rem;
        margin-left: 32.5vw;
        margin-right: 32.5vw;
    }
    .work-entry__image {
        width: 35vw;
        height: auto;
        display: block;
    }


}