.nav-header {
  background-color: #3f4244;
  height: 10vh;
  padding: 2.5vh 3vw 2.5vh 3vw;
  font-family: "Rajdhani", sans-serif;
}

.nav-header__logo {
  height: 70px;
  width: 70px;
  padding: 5px;
}

.nav-header__socials {
  position: relative;
  display: inline-block;
  float: right;
}

.menu-toggle {
  display: inline-block;
  position: relative;
  z-index: 1;
  user-select: none;
}
.menu-toggle a {
  text-decoration: none;
  color: #3f4244;
}
.menu-toggle a:hover {
  font-weight: 600;
}

.menu-toggle .toggle {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background-color: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
}

.menu-toggle .toggle:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background-color: #3f4244;
}

.menu-toggle .toggle:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0) scale(0.2, 0.2);
}

.menu-toggle .toggle:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

.menu-toggle span {
  transform-origin: 4px 0px;
  transition: transform 0.5s ease-in;
  opacity: 0.5s ease;
}
.menu-toggle span:first-child {
  transform-origin: 0% 0%;
}
.menu-toggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

.menu {
  position: absolute;
  top: 15px;
  margin: -110px 0 0 -60px;
  padding: 50px;
  padding-top: 135px;
  background-color: #ededed;
  opacity: 0.9;
  list-style-type: none;
  transform-origin: 0% 0%;
  transform: translate(-130%, 0);
  transition: transform 0.5s ease-in;
}
.menu li {
  padding: 10px 0 10px 35px;
  font-size: 22px;
}

.menu-toggle .toggle:checked ~ ul {
  transform: none;
}

@media only screen and (min-width: 600px) {
  .menu {
    width: 130px;
  }
  .menu li {
    padding-left: 35px;
    font-size: 28px;
  }
}
@media only screen and (min-width: 835px) {
  .menu {
    width: 180px;
    left: -30px;
  }
  .menu li {
    padding-left: 35px;
    font-size: 32px;
  }
}
.hero {
  background-color: #3f4244;
  color: #ffffff;
  height: 85vh;
  width: 94vw;
  font-family: "Rajdhani", sans-serif;
  padding-left: 3vw;
  padding-right: 3vw;
  display: grid;
  grid-template-columns: 0.2fr 0.2fr 0.2fr max-content max-content 0.2fr;
  grid-template-rows: 0.25fr 0.25fr 0.25fr 0.25fr;
}

.hero-header {
  grid-column: 4/5;
  grid-row: 2/3;
  font-size: 2.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 0;
}

.hero-p {
  grid-column: 4/5;
  grid-row: 3/4;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.hero-image {
  grid-column: 5/6;
  grid-row: 2/5;
  width: 65vw;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0 0 0.85rem #0f0f0f);
}

@media only screen and (min-width: 600px) {
  .hero-header {
    font-size: 5rem;
  }

  .hero-p {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 835px) {
  .hero-header {
    font-size: 7.5rem;
  }

  .hero-p {
    font-size: 3rem;
  }

  .hero-image {
    height: 800px;
    width: 627px;
  }
}
body {
  background-color: #3f4244;
}

/*# sourceMappingURL=style.css.map */
