body {
  background-color: #3f4244;
  color: #ffffff;
  font-family: "Rajdhani", sans-serif;
}

.hero {
  height: 80vh;
  width: 94vw;
  padding-left: 3vw;
  padding-right: 3vw;
  display: grid;
  grid-template-columns: 0.2fr 0.2fr 0.11fr max-content max-content 0.2fr;
  grid-template-rows: 0.25fr 0.25fr 0.25fr 0.25fr;
  margin-top: 15vh;
}

.hero-header {
  grid-column: 4/5;
  grid-row: 2/3;
  font-size: 2.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 0;
  line-height: 100%;
}

.hero-p {
  grid-column: 4/5;
  grid-row: 3/4;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.hero-image {
  grid-column: 5/6;
  grid-row: 2/5;
  width: 65vw;
  margin-left: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0 0 0.85rem #0f0f0f);
}

footer {
  font-size: 0.75rem;
  position: fixed;
  bottom: 0;
  right: 0;
  text-align: end;
  width: 100%;
  padding: 5px 5px;
  background-color: #ededed;
  color: #3f4244;
}

@media only screen and (min-width: 600px) {
  .hero-header {
    font-size: 5rem;
  }

  .hero-p {
    font-size: 1.5rem;
  }

  footer {
    font-size: 0.85rem;
  }
}
@media only screen and (min-width: 1024px) {
  .hero-header {
    font-size: 6.5rem;
  }

  .hero-p {
    font-size: 2.3rem;
  }

  .hero-image {
    height: 640px;
    width: 510px;
  }

  footer {
    font-size: 1rem;
  }
}
.nav-header {
  height: 15vh;
  padding: 2.5vh 3vw 2.5vh 3vw;
  font-family: "Rajdhani", sans-serif;
  position: fixed;
  z-index: 1;
  background-color: #3f4244;
  top: 0;
  width: 100%;
  box-sizing: border-box;
}

.nav-header__logo {
  height: 50px;
  width: 50px;
  padding: 0px 5px;
}

.nav-header__socials {
  position: relative;
  display: block;
  float: right;
  padding-top: 10px;
}

.github, .twitter, .linkedin, .instagram {
  width: 36px;
  height: 36px;
}

.page-title {
  display: inline;
  font-size: 2rem;
  font-weight: 600;
}

.page-header {
  font-weight: 400;
}

.menu-toggle {
  display: inline-block;
  position: relative;
  z-index: 1;
  user-select: none;
}
.menu-toggle a {
  text-decoration: none;
  color: #3f4244;
}
.menu-toggle a:hover {
  font-weight: 600;
}

.menu-toggle .toggle {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background-color: #ededed;
  border-radius: 3px;
  z-index: 1;
}

.menu-toggle .toggle:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
}

.menu-toggle .toggle:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0) scale(0.2, 0.2);
}

.menu-toggle .toggle:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

.menu-toggle span {
  transform-origin: 4px 0px;
  transition: transform 0.5s ease-in;
  opacity: 0.5s ease;
}
.menu-toggle span:first-child {
  transform-origin: 0% 0%;
}
.menu-toggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

.menu {
  position: absolute;
  top: 15px;
  margin: 2.5vh 0 0 -60px;
  padding: 20px 50px;
  background-color: #ededed;
  opacity: 0.9;
  list-style-type: none;
  transform-origin: 0% 0%;
  transform: translate(-130%, 0);
  transition: transform 0.5s ease-in;
}
.menu li {
  padding: 10px 0 10px 35px;
  font-size: 22px;
}

.menu-toggle .toggle:checked ~ ul {
  transform: none;
}

@media only screen and (min-width: 600px) {
  .page-title {
    font-size: 2.5rem;
  }

  .nav-header__logo {
    height: 45px;
    width: 45px;
  }

  .github, .twitter, .linkedin, .instagram {
    width: 42px;
    height: 42px;
  }

  .menu {
    width: 130px;
  }
  .menu li {
    padding-left: 35px;
    font-size: 28px;
  }
}
@media only screen and (min-width: 1024px) {
  .page-title {
    font-size: 3rem;
  }

  .nav-header__logo {
    height: 55px;
    width: 55px;
  }

  .github, .twitter, .linkedin, .instagram {
    width: 48px;
    height: 48px;
  }

  .menu {
    width: 180px;
    left: -30px;
  }
  .menu li {
    padding-left: 35px;
    font-size: 25px;
  }
}
@media only screen and (max-width: 400px) {
  .page-title {
    font-size: 1.4rem;
  }

  .nav-header__logo {
    height: 35px;
    width: 35px;
  }

  .github, .twitter, .linkedin, .instagram {
    width: 32px;
    height: 32px;
  }

  .menu li {
    font-size: 20px;
  }
}
.about {
  margin: 20vh 10vw 10vh;
  display: flex;
  flex-direction: column;
}
.about h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 3vh;
}
.about img {
  width: 315px;
  height: auto;
  box-sizing: border-box;
  border: #888888 solid 1px;
  border-radius: 6px;
  align-self: center;
  filter: drop-shadow(0 0 0.85rem #0f0f0f);
  margin-bottom: 3vh;
  filter: grayscale(50%);
}
.about img:hover {
  filter: grayscale(0%);
}
.about p {
  margin-bottom: 0;
}

.here:link {
  text-decoration: none;
  color: #5888b4;
  font-weight: 600;
}

.here:visited {
  text-decoration: none;
  color: #5888b4;
  font-weight: 600;
}

.here:hover {
  text-decoration: none;
  color: #ffffff;
}

.resume {
  margin-top: 2vh;
  padding: 0.5vh;
  border-radius: 6px;
  width: 110px;
  text-transform: uppercase;
  background-color: #5888b4;
  color: #ffffff;
  border: none;
  cursor: pointer;
  filter: drop-shadow(3px 3px 1.5px #0f0f0f);
}

.resume:hover {
  background-color: #ededed;
  color: #5888b4;
  font-weight: 600;
  box-sizing: border-box;
  z-index: 1;
}

.resume:active {
  transform: translateY(1.5px);
}

.resume a {
  box-sizing: border-box;
  padding: inherit;
}
.resume a:visited {
  text-decoration: none;
  color: #ffffff;
}
.resume a:link {
  text-decoration: none;
  color: #ffffff;
}
.resume a:link:hover {
  text-decoration: none;
  color: #5888b4;
}
.resume a:visited:hover {
  text-decoration: none;
  color: #3f4244;
}

@media only screen and (min-width: 600px) {
  .about {
    font-size: 1.25rem;
  }
  .about img {
    width: 450px;
  }
}
@media only screen and (min-width: 1024px) {
  .about {
    font-size: 1.5rem;
    display: inline-block;
    margin-left: 15vw;
    margin-right: 15vw;
  }
  .about img {
    width: 450px;
    display: relative;
    float: left;
    margin: 0 30px 20px 0;
  }
}
.work {
  margin: 20vh 10vw 10vh;
}
.work h1 {
  text-align: center;
}

.work-wrapper {
  margin-top: 30px;
}

.work-card {
  width: 80vw;
  height: 300px;
  border: #888888 solid 1px;
  border-radius: 6px;
}

.work-card__image {
  width: 80vw;
  height: 150px;
  box-sizing: border-box;
  border-bottom: #888888 solid 1px;
  border-radius: 6px;
  filter: grayscale(35%);
}

.work-card__image:hover {
  filter: grayscale(0%);
}

.work-card__text {
  width: 80vw;
  height: 150px;
  padding: 20px 20px 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
}

.work-card__title h1 {
  text-transform: uppercase;
  display: inline;
  font-size: 1.25rem;
}

.work-card__description {
  overflow: hidden;
}

.work-card__link img {
  width: 20px;
  height: 20px;
  float: right;
}

.work-entry {
  margin: 20vh 10vw 10vh;
}

.work-entry__image {
  width: 80vw;
  height: auto;
  margin-top: 5vh;
}

.tech-icon {
  position: absolute;
  float: left;
  filter: grayscale(60%);
}

.back-to-work {
  padding: 0.5vh;
  border-radius: 6px;
  width: 80px;
  text-transform: uppercase;
  background-color: #5888b4;
  color: #ffffff;
  border: none;
  cursor: pointer;
  filter: drop-shadow(3px 3px 1.5px #0f0f0f);
}

.back-to-work:hover {
  background-color: #ededed;
  color: #5888b4;
  font-weight: 600;
  box-sizing: border-box;
}

.back-to-work a:link, .back-to-work a:visited {
  text-decoration: none;
  color: #ffffff;
}

.back-to-work a:visited:hover {
  text-decoration: none;
  color: #3f4244;
}

.back-to-work:active {
  transform: translateY(1.5px);
}

@media only screen and (min-width: 600px) {
  .work {
    font-size: 1.25rem;
    margin-left: 10vw;
    margin-right: 10vw;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .work h1 {
    display: inline-block;
    width: 100%;
    margin-top: 0;
  }

  .work-card {
    width: 400px;
    height: 400px;
  }

  .work-card__image {
    width: 400px;
    height: 200px;
  }

  .work-card__text {
    width: 400px;
    height: 200px;
  }

  .work-card__title h1 {
    font-size: 1.75rem;
  }

  .work-card__link img {
    width: 32px;
    height: 32px;
  }

  .work-entry {
    font-size: 1.25rem;
  }
}
@media only screen and (min-width: 1024px) {
  .work {
    font-size: 1.5rem;
    margin-left: 5vw;
    margin-right: 5vw;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .work h1 {
    display: inline-block;
    width: 100%;
    margin: 0;
  }

  .work-wrapper {
    margin: 30px 15px 15px;
  }

  .work-card {
    width: 500px;
    height: 500px;
  }

  .work-card__image {
    width: 500px;
    height: 250px;
  }

  .work-card__text {
    width: 500px;
    height: 250px;
  }

  .work-card__title h1 {
    font-size: 2rem;
  }

  .work-card__link img {
    width: 40px;
    height: 40px;
  }

  .work-entry {
    font-size: 1.5rem;
    margin-left: 32.5vw;
    margin-right: 32.5vw;
  }

  .work-entry__image {
    width: 35vw;
    height: auto;
    display: block;
  }
}
.blog {
  margin-top: 20vh;
  margin-bottom: 10vh;
}
.blog h1 {
  text-align: center;
}

.blog-card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

.blog-card {
  width: 80vw;
  height: 500px;
  border: #888888 solid 1px;
  box-shadow: 5px 5px 5px #888888;
  border-radius: 6px;
}

.blog-card__image {
  width: 80vw;
  height: 200px;
  object-fit: cover;
  box-sizing: border-box;
  border-bottom: #888888 solid 1px;
  border-radius: 6px;
  filter: grayscale(50%);
}

.blog-card__image:hover {
  filter: grayscale(0%);
}

.blog-card__text {
  width: 80vw;
  height: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
}

.blog-card__title h1 {
  text-transform: uppercase;
  display: inline;
  font-size: 1.25rem;
}

.blog-card__description {
  overflow: hidden;
  margin-bottom: 1.5rem;
}

.blog-card__link {
  padding: 0.6vh;
  border-radius: 6px;
  width: 130px;
  text-transform: uppercase;
  background-color: #5888b4;
  color: #ffffff;
  border: none;
  cursor: pointer;
  filter: drop-shadow(3px 3px 1.5px #0f0f0f);
}

.blog-card__link:hover {
  background-color: #ededed;
  color: #5888b4;
  font-weight: 600;
  box-sizing: border-box;
}

.blog-link:visited {
  text-decoration: none;
  color: #ffffff;
}

.blog-link:link {
  text-decoration: none;
  color: #ffffff;
}

.blog-link:link:hover {
  text-decoration: none;
  color: #5888b4;
}

.blog-link:visited:hover {
  text-decoration: none;
  color: #3f4244;
}

.blog-card__link:active {
  transform: translateY(1.5px);
}

.blog-entry {
  margin: 20vh 10vw 10vh;
}
.blog-entry img {
  width: 100%;
  height: auto;
}
.blog-entry figure {
  margin: 1vh 0;
}

.back-to-blog {
  padding: 0.5vh;
  border-radius: 6px;
  width: 80px;
  text-transform: uppercase;
  background-color: #5888b4;
  color: #ffffff;
  border: none;
  cursor: pointer;
  filter: drop-shadow(3px 3px 1.5px #0f0f0f);
}

.back-to-blog:hover {
  background-color: #ededed;
  color: #5888b4;
  font-weight: 600;
  box-sizing: border-box;
  z-index: 1;
}

.back-to-blog a:link, .back-to-blog a:visited {
  text-decoration: none;
  color: #ffffff;
}

.back-to-blog a:visited:hover {
  text-decoration: none;
  color: #3f4244;
}

.back-to-blog:active {
  transform: translateY(1.5px);
}

@media only screen and (min-width: 600px) {
  .blog, .blog-entry {
    font-size: 1.25rem;
  }

  .blog-card {
    width: 80vw;
    height: 600px;
    box-shadow: 7.5px 7.5px 7.5px #888888;
  }

  .blog-card__image {
    width: 80vw;
    height: 300px;
  }

  .blog-card__text {
    width: 80vw;
    height: 300px;
  }

  .blog-card__title h1 {
    font-size: 1.75rem;
  }

  .blog-card__description {
    margin-bottom: 2.25rem;
  }
}
@media only screen and (min-width: 1024px) {
  .blog {
    font-size: 1.5rem;
    margin-left: 5vw;
    margin-right: 5vw;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .blog h1 {
    display: inline-block;
    width: 100%;
    margin: 0;
  }

  .blog-card {
    width: 500px;
    height: 700px;
  }

  .blog-card__image {
    width: 500px;
    height: 300px;
  }

  .blog-card__text {
    width: 500px;
    height: 400px;
  }

  .blog-card__title h1 {
    font-size: 2rem;
  }

  .blog-card__description {
    margin-bottom: 2.5rem;
  }

  .blog-card__link {
    width: 140px;
  }

  .blog-entry {
    font-size: 1.5rem;
    margin-left: 10vw;
    margin-right: 10vw;
  }
  .blog-entry img {
    width: 1000px;
    height: auto;
    position: relative;
    float: left;
    margin-right: 30px;
    margin-bottom: 20px;
  }
}
.contact-content {
  margin-top: 20vh;
  margin-bottom: 10vh;
}

.contact {
  margin: 0 10vw;
}
.contact h1 {
  text-align: center;
  margin: 0;
}

.contact-p p {
  display: flex;
  box-sizing: border-box;
  text-align: center;
  background-color: #ededed;
  border-radius: 6px;
  border-top: 6px solid #5888b4;
  color: #3f4244;
  padding: 15px;
}

#contact-form {
  margin-top: 75px;
}
#contact-form div {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: auto;
  margin-top: 15px;
}
#contact-form input, #contact-form textarea {
  border-radius: 6px;
  padding: 5px;
}

.submit-button {
  background-color: #5888b4;
  color: #ffffff;
  cursor: pointer;
  border-radius: 6px;
  box-sizing: border-box;
  border: none;
  padding: 0.5vh;
  display: inline-block;
  width: 130px;
  align-self: center;
  filter: drop-shadow(3px 3px 1.5px #0f0f0f);
}

.submit-button:hover {
  background-color: #ededed;
  color: #5888b4;
  font-weight: 600;
  box-sizing: border-box;
}

.submit-button:active {
  transform: translateY(1.5px);
}

#confirmation {
  align-self: center;
}

@media only screen and (min-width: 600px) {
  .contact-content {
    display: flex;
    font-size: 1.2rem;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
  }

  .contact-p p {
    display: flex;
    width: 60vw;
    box-sizing: border-box;
    padding: 20px;
  }

  .submit-button {
    width: 150px;
  }
}
@media only screen and (min-width: 1024px) {
  .contact {
    margin: 0 5vw 10vh;
  }

  .contact-content {
    display: flex;
    font-size: 1.5rem;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
  }

  .contact-p p {
    display: flex;
    text-align: center;
    width: 50vw;
    box-sizing: border-box;
    padding: 30px;
  }

  .submit-button {
    width: 170px;
  }
}
@media only screen and (min-width: 1300px) {
  .contact-p p {
    width: 35vw;
  }
}

/*# sourceMappingURL=style.css.map */
